<article>
    <h2>
        Nuestros servicios
    </h2>
    <p>En este sitio web, ofrecemos una variedad de servicios para ayudarte a lograr tus objetivos de desarrollo web.</p>

    <h3>Diseño de Sitios Web</h3>
    <p>Creación de sitios web modernos y receptivos desde cero, con un enfoque en la experiencia de usuario y la estética.</p>

    <h3>Desarrollo de Aplicaciones Web</h3>
    <p>Construcción de aplicaciones web interactivas y dinámicas utilizando las últimas tecnologías. ¡Si lo puedes imaginar, lo podemos crear!</p>

    <h3>Asesoría y Soporte Técnico</h3>
    <p>Ofrecemos orientación personalizada y soporte técnico para ayudarte a resolver problemas y mejorar tus proyectos.</p>

    <a href="/" style="text-decoration: none; padding: 20px; display: inline-block; color: #6a8e8f;">⬅️ Volver a Home</a>
</article>